
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
    overflow: hidden;
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translate(0, -10vh) rotate(0deg);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
    transform: translate(5vw, 105vh) rotate(360deg);
  }
}

.snow {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 60%);
  animation: fall 10s linear infinite;
}

.snow:nth-child(1) { left: 10%; width: 3px; height: 3px; animation-duration: 12s; animation-delay: -3s; }
.snow:nth-child(2) { left: 20%; width: 2px; height: 2px; animation-duration: 15s; animation-delay: -5s; }
.snow:nth-child(3) { left: 30%; width: 4px; height: 4px; animation-duration: 10s; animation-delay: -2s; }
.snow:nth-child(4) { left: 40%; width: 1px; height: 1px; animation-duration: 18s; animation-delay: -7s; }
.snow:nth-child(5) { left: 50%; width: 3px; height: 3px; animation-duration: 13s; animation-delay: -1s; }
.snow:nth-child(6) { left: 60%; width: 2px; height: 2px; animation-duration: 16s; animation-delay: -6s; }
.snow:nth-child(7) { left: 70%; width: 4px; height: 4px; animation-duration: 11s; animation-delay: -4s; }
.snow:nth-child(8) { left: 80%; width: 1px; height: 1px; animation-duration: 19s; animation-delay: -8s; }
.snow:nth-child(9) { left: 90%; width: 3px; height: 3px; animation-duration: 14s; animation-delay: 0s; }
.snow:nth-child(10) { left: 95%; width: 2px; height: 2px; animation-duration: 17s; animation-delay: -2s; }
.snow:nth-child(11) { left: 5%; width: 4px; height: 4px; animation-duration: 14s; animation-delay: -4s; }
.snow:nth-child(12) { left: 15%; width: 1px; height: 1px; animation-duration: 16s; animation-delay: -8s; }
.snow:nth-child(13) { left: 25%; width: 3px; height: 3px; animation-duration: 12s; animation-delay: -1s; }
.snow:nth-child(14) { left: 35%; width: 2px; height: 2px; animation-duration: 19s; animation-delay: -9s; }
.snow:nth-child(15) { left: 45%; width: 4px; height: 4px; animation-duration: 11s; animation-delay: -3s; }
.snow:nth-child(16) { left: 55%; width: 1px; height: 1px; animation-duration: 20s; animation-delay: -7s; }
.snow:nth-child(17) { left: 65%; width: 3px; height: 3px; animation-duration: 13s; animation-delay: -2s; }
.snow:nth-child(18) { left: 75%; width: 2px; height: 2px; animation-duration: 17s; animation-delay: -5s; }
.snow:nth-child(19) { left: 85%; width: 4px; height: 4px; animation-duration: 15s; animation-delay: -6s; }
.snow:nth-child(20) { left: 50%; width: 1px; height: 1px; animation-duration: 18s; animation-delay: -10s; }
.snow:nth-child(21) { left: 12%; width: 3px; height: 3px; animation-duration: 13s; animation-delay: -2s; transform: translateX(-10vw); }
.snow:nth-child(22) { left: 22%; width: 2px; height: 2px; animation-duration: 17s; animation-delay: -4s; transform: translateX(-5vw); }
.snow:nth-child(23) { left: 32%; width: 4px; height: 4px; animation-duration: 11s; animation-delay: -1s; transform: translateX(3vw); }
.snow:nth-child(24) { left: 42%; width: 1px; height: 1px; animation-duration: 19s; animation-delay: -6s; transform: translateX(-8vw); }
.snow:nth-child(25) { left: 52%; width: 3px; height: 3px; animation-duration: 14s; animation-delay: -3s; transform: translateX(10vw); }
.snow:nth-child(26) { left: 62%; width: 2px; height: 2px; animation-duration: 18s; animation-delay: -8s; transform: translateX(-3vw); }
.snow:nth-child(27) { left: 72%; width: 4px; height: 4px; animation-duration: 12s; animation-delay: -5s; transform: translateX(7vw); }
.snow:nth-child(28) { left: 82%; width: 1px; height: 1px; animation-duration: 20s; animation-delay: -9s; transform: translateX(-12vw); }
.snow:nth-child(29) { left: 92%; width: 3px; height: 3px; animation-duration: 15s; animation-delay: -1s; transform: translateX(2vw); }
.snow:nth-child(30) { left: 98%; width: 2px; height: 2px; animation-duration: 18s; animation-delay: -3s; transform: translateX(-1vw); }
.snow:nth-child(31) { left: 8%; width: 4px; height: 4px; animation-duration: 15s; animation-delay: -5s; transform: translateX(-15vw); }
.snow:nth-child(32) { left: 18%; width: 1px; height: 1px; animation-duration: 18s; animation-delay: -9s; transform: translateX(12vw); }
.snow:nth-child(33) { left: 28%; width: 3px; height: 3px; animation-duration: 13s; animation-delay: -2s; transform: translateX(-7vw); }
.snow:nth-child(34) { left: 38%; width: 2px; height: 2px; animation-duration: 20s; animation-delay: -10s; transform: translateX(8vw); }
.snow:nth-child(35) { left: 48%; width: 4px; height: 4px; animation-duration: 12s; animation-delay: -4s; transform: translateX(-4vw); }
.snow:nth-child(36) { left: 58%; width: 1px; height: 1px; animation-duration: 21s; animation-delay: -8s; transform: translateX(15vw); }
.snow:nth-child(37) { left: 68%; width: 3px; height: 3px; animation-duration: 14s; animation-delay: -3s; transform: translateX(-9vw); }
.snow:nth-child(38) { left: 78%; width: 2px; height: 2px; animation-duration: 19s; animation-delay: -6s; transform: translateX(5vw); }
.snow:nth-child(39) { left: 88%; width: 4px; height: 4px; animation-duration: 16s; animation-delay: -7s; transform: translateX(-2vw); }
.snow:nth-child(40) { left: 4%; width: 1px; height: 1px; animation-duration: 19s; animation-delay: -11s; transform: translateX(11vw); }
.snow:nth-child(41) { left: 14%; width: 3px; height: 3px; animation-duration: 14s; animation-delay: -3s; transform: translateX(-13vw); }
.snow:nth-child(42) { left: 24%; width: 2px; height: 2px; animation-duration: 18s; animation-delay: -5s; transform: translateX(9vw); }
.snow:nth-child(43) { left: 34%; width: 4px; height: 4px; animation-duration: 12s; animation-delay: -2s; transform: translateX(-6vw); }
.snow:nth-child(44) { left: 44%; width: 1px; height: 1px; animation-duration: 20s; animation-delay: -7s; transform: translateX(4vw); }
.snow:nth-child(45) { left: 54%; width: 3px; height: 3px; animation-duration: 15s; animation-delay: -4s; transform: translateX(-11vw); }
.snow:nth-child(46) { left: 64%; width: 2px; height: 2px; animation-duration: 19s; animation-delay: -9s; transform: translateX(14vw); }
.snow:nth-child(47) { left: 74%; width: 4px; height: 4px; animation-duration: 13s; animation-delay: -6s; transform: translateX(-3vw); }
.snow:nth-child(48) { left: 84%; width: 1px; height: 1px; animation-duration: 21s; animation-delay: -10s; transform: translateX(8vw); }
.snow:nth-child(49) { left: 94%; width: 3px; height: 3px; animation-duration: 16s; animation-delay: -2s; transform: translateX(-14vw); }
.snow:nth-child(50) { left: 99%; width: 2px; height: 2px; animation-duration: 20s; animation-delay: -4s; transform: translateX(1vw); }
